.sidebar{
  float: right;
  font-style: bold;
  font-size: 30px;
  font-family: monospace;
  background-color: #00ff99;
  width: 20%;
}

.img {
  width: 100%;
  float: left;
}

body {
  background-color: black;
}

h2 {
  font-family: monospace;
  font-size: 40px;
}

p {
  color:#ffff66;
  width: 50%;
}

h1 {
  color:#ff0066;
  font-family:monospace;
}

.intro {
  width: 50%;
  float:left;
}
